@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DM-Sans-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}
  
@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DM-Sans-Medium.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DM-Sans-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "DM Mono";
    src: url("/fonts/DM-Mono-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

:root {
    --grey-100: #f5f5f5;
    --grey-200: #ebebeb;
    --grey-300: #d6d6d6;
    --grey-400: #adadad;
    --grey-500: #707070;
    --grey-600: #333333;
    --grey-700: #1f1f1f;
    --grey-800: #141414;
    --grey-900: #0a0a0a;

    --green: #6ece9d;
    --green-hover: #91dab4;
    --beige: #f8f5ed;
    --yellow: #ffce3d;
    --red: #e87b7b;
    --blue: #73b1f0;

    --vp-font-family-base: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --vp-font-family-mono: "DM Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    --vp-c-green: var(--green);
    --vp-c-green-light: var(--green-hover);
    --vp-c-yellow: var(--yellow);
    --vp-c-red: var(--red);
    --vp-code-block-bg: var(--grey-800);
    --docsearch-container-background: rgba(0,0,0,.5);

    --vp-custom-block-info-bg: transparent;
    --vp-custom-block-tip-border: var(--green);
    --vp-custom-block-tip-text: var(--green);
    --vp-custom-block-tip-bg: transparent;
    --vp-custom-block-tip-code-bg: var(--vp-c-bg-soft);
    --vp-custom-block-warning-border: var(--yellow);
    --vp-custom-block-warning-text: var(--yellow);
    --vp-custom-block-warning-bg: transparent;
    --vp-custom-block-warning-code-bg: var(--vp-c-bg-soft);
    --vp-custom-block-danger-border: var(--red);
    --vp-custom-block-danger-text: var(--red);
    --vp-custom-block-danger-bg: transparent;
    --vp-custom-block-danger-code-bg: var(--vp-c-bg-soft);
    --vp-custom-block-details-bg: transparent;

    --vp-c-bg: white;
    --vp-c-bg-alt: var(--grey-100);
    --vp-c-bg-soft: var(--grey-100);
    --vp-sidebar-bg-color: var(--beige);
    --vp-c-text-1: black;
    --vp-c-text-2: var(--grey-500);
    --vp-c-divider: var(--grey-300);
    --vp-c-text-code: var(--grey-500);
    --vp-c-mute: var(--grey-100);
    --vp-c-gray: var(--grey-400);
    --docsearch-primary-color: var(--grey-500);
    --docsearch-logo-color: var(--grey-500);
}

.dark {
    --vp-c-bg: var(--grey-900);
    --vp-c-bg-alt: var(--grey-800);
    --vp-c-bg-soft: var(--grey-800);
    --vp-sidebar-bg-color: var(--grey-800);
    --vp-c-text-1: white;
    --vp-c-text-2: var(--grey-400);
    --vp-c-divider: var(--grey-600);
    --vp-c-text-code: var(--grey-400);
    --vp-c-mute: var(--grey-800);
    --vp-c-gray: var(--grey-500);
    --docsearch-primary-color: var(--grey-400);
    --docsearch-logo-color: var(--grey-400);
}

html {
    font-feature-settings: "ss03" 1, "ss04" 1;
}

.VPSidebarItem.level-1 .text, .has-outline .content {
    font-weight: 400 !important;
}

.vp-doc h1, .vp-doc h2, .vp-doc h3, .vp-doc h4, .vp-doc h5, .vp-doc h6, .title, .VPSidebarItem.level-0 .text, .vp-doc strong, .outline-title, .outline-link.active {
    font-weight: 500 !important;
}

.VPNavBar .title, .vp-doc h2, .prev-next, .pager-link, .has-outline .content, .group + .group, .VPSwitch, .VPNavScreenMenuLink, .link {
    border-width: 2px !important;
}

.VPMenu, .DocSearch-Button {
    border-width: 0 !important;
    border-radius: 6px !important;
}

.VPSwitch {
    width: 42px !important;
    height: 24px !important;
    border-radius: 12px !important;
}

.vp-doc .header-anchor {
    padding: 0; 
}

.VPNavBarTitle.has-sidebar {
    background-color: var(--vp-sidebar-bg-color) !important;
}

.pager-link {
    border-radius: 6px !important;
}

.outline-marker {
    left: -2px !important;
    width: 2px !important;
}

.menu + *::before {
    width: 2px !important;
}

.cls-1, .cls-2 {
    fill: var(--docsearch-logo-color) !important;
}

.divider {
    height: 2px !important;
}

.custom-block {
    border-width: 2px !important;
    border-radius: 6px !;
}

.curtain {
    display: none !important;
}

main img {
    max-height: 384px;
    margin: 24px auto;
    border-radius: 6px;
}

@media only screen and (min-width: 513px) {
    body *::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    body *::-webkit-scrollbar-thumb {
        width: 64px;
        height: 64px;
        border: 5px solid rgba(0,0,0,0);
        background-clip: padding-box;
        -webkit-border-radius: 8px;
        background-color: rgba(127,127, 127,.4);
    }
    
    body *::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    
    body *::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}
